[Unit]
Description=GitHub project release downloader
ConditionFileNotEmpty=/%E/gh-dlr/config.yaml
Wants=network-online.target
After=network-online.target
After=NetworkManager-wait-online.service

[Service]
Type=exec
ExecStart=/%h/.local/bin/gh-dlr

[Install]
WantedBy=default.target
